{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-3">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h3 class="text-center">{% trans "Sign In" %}</h3>
        </div>
        <div class="card-body">
          <p class="text-center mb-4">
            {% blocktrans %}Welcome back to Cine-Vault. To leave a comment or like a post, please log in. If you have
            not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
            first.{% endblocktrans %}
          </p>

          <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="id_username" class="form-label">{% trans "Username" %}</label>
              {{ form.username }}
              {% if form.username.errors %}
                <div class="text-danger">{{ form.username.errors }}</div>
              {% endif %}
            </div>
            <div class="mb-3">
              <label for="id_password" class="form-label">{% trans "Password" %}</label>
              {{ form.password }}
              {% if form.password.errors %}
                <div class="text-danger">{{ form.password.errors }}</div>
              {% endif %}
            </div>
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-flex justify-content-center">
              <button class="btn btn-dark btn-lg" type="submit">{% trans "Sign In" %} &raquo;</button>
            </div>
            {% if form.non_field_errors %}
              <div class="text-danger text-center mt-3">{{ form.non_field_errors }}</div>
            {% endif %}
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}