{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<!-- movie_detail.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Movie Detail Column -->
        <div class="col-12 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">
                        <div class="image-flash">
                            <!-- Movie author -->
                            <p class="author">Author: {{ movie.author }}</p>
                        </div>
                        <img src="{% static 'images/filler.jpeg' %}" class="img-fluid w-50" alt="placeholder">
                    </div>
                    <!-- Movie title -->
                    <h1 class="card-title">{{ movie.title }}</h1>
                    <hr />
                    <!-- Movie creation date -->
                    <p class="card-text text-muted h6">{{ movie.created_on }}</p>

                    <!-- Movie content -->
                    <div class="card-text mt-4">
                        {{ movie.content | safe }}
                    </div>
                </div>
            </div>
            <!-- Displaying count of comments -->
            <div class="container px-4 px-lg-5">
                <div class="row">
                    <div class="col-12">
                        <strong class="text-secondary">
                            <i class="far fa-comments"></i> {{ comment_count }} Comments
                        </strong>
                    </div>
                    <div class="col-12">
                        <hr />
                    </div>
                </div>

                <!-- Displaying Comments with matching width to movie summary -->
                <div class="row">
                    <div class="col-md-12 mx-auto">
                        <h3 class="text-primary">Comments:</h3>
                        <div class="card mb-4">
                            <div class="card-body">
                                <!-- Iterate through each comment -->
                                {% for comment in comments %}
                                <div
                                    class="p-2 comment-box {% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                                    <p class="font-weight-bold text-dark">
                                        {{ comment.author }}
                                        <small class="text-muted">{{ comment.created_on }}</small> wrote:
                                    </p>
                                    <div id="comment{{ comment.id }}" class="text-secondary">
                                        {{ comment.body | linebreaks }}
                                    </div>
                                    {% if not comment.approved and comment.author == user %}
                                    <p class="text-warning">
                                        This comment is awaiting approval
                                    </p>
                                    {% endif %}
                                    <p class="approval text-muted">
                                        This comment is awaiting approval
                                    </p>
                                    {% if user.is_authenticated and comment.author == user %}
                                    <button class="btn btn-danger btn-sm mt-2 btn-delete" data-comment_id="{{ comment.id }}">Delete</button>
                                    <button class="btn btn-success btn-sm mt-2 btn-edit" data-comment_id="{{ comment.id }}">Edit</button>
                                    
                                    {% endif %}

                                </div>
                                <hr />
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Creating New Comments -->
                        <div class="row">
                            <div class="col-md-8 mx-auto mt-3">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        {% if user.is_authenticated %}
                                        <h3 class="text-primary">Leave a comment:</h3>
                                        <p>Posting as: <strong>{{ user.username }}</strong></p>
                                        <form id="commentForm" method="post" style="margin-top: 1.3em;">
                                            {{ comment_form | crispy }}
                                            {% csrf_token %}
                                            <button id="submitButton" type="submit"
                                                class="btn btn-primary btn-lg">Submit</button>
                                        </form>
                                        {% else %}
                                        <p>Please <a href="{% url 'account_login' %}">log in</a> to leave a comment.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Delete confirmation modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Delete Comment?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete your comment? This action cannot be undone.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination or related content could go here -->

</div>
<!-- movie_detail.html content ends here -->
{% endblock %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}